<div class="card text-center">
<!-- 	顶部开始 ----->
	<div class="card-header">
	   顶部
	</div>
<!-- 	顶部结束 ----->

<!-- 	中间部分开始 -->
	<div class="card-body alert-success">
	    <center>
		<div class="card border-success mb-3" style="max-width: 60rem;">
		  <div class="card-header bg-transparent border-success">
		  	<img src="https://up.enterdesk.com/edpic_source/03/5b/de/035bde2aab4a351dce46a1c19632b800.jpg" alt="..." class="rounded" width="150" style="Float:left">
		  	<div>
			    <h2 style="Float:left;margin-top:3%;"><b>不开心吧</b></h2>
			  	<font size="1" style="Float:left;margin-top:9%;">齐聚各种不开心,专治各种小情绪</font>
			</div>
			<button type="button" style="Float:right" class="btn btn-danger  badge-pill ">关注</button>
		 	<span style="Float:right;margin-top:6%;">关注:<font color="red" >120</font> 帖子:<font color="red">5555</font></span>
		  </div>
		   <div class="card-header bg-transparent border-success">
		   	   <div class="btn-group  btn-group-lg" role="group" aria-label="Basic example"style="Float:left">
				  <button type="button" class="btn btn-secondary">看帖</button>
				  <button type="button" class="btn btn-secondary">图片</button>
				  <button type="button" class="btn btn-secondary">精品</button>
				  <button type="button" class="btn btn-secondary">群组</button>
				</div>
				
			    <div class="col-sm-3 my-1"style="Float:right">
			      <label class="sr-only" for="inlineFormInputGroupUsername">在这里搜索</label>
			      <div class="input-group">
			      	  <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="在这里搜索">
			        <div class="input-group-prepend">
			          <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
			        </div>      
			      </div>
			    </div>
		  </div>

<!-- 帖子头部 -->